html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
   display: inline-block;
   font-weight: bold;
}

/*  ProductRating */
.myAppDemoWTProductRating {
    padding: 0.75rem;
}
.myAppDemoWTProductRating .sapMRI {
    vertical-align: initial;
}



/* .myGreenButton {
  background-color: #a3a7a4 !important; /* green */
  /* color: #fff !important; */
  /* border-color: #28a745 !important;
}

/* ensure icon/text inside the button also show as white */
/* .myGreenButton .sapMBtnIcon, */
/* .myGreenButton .sapMBtnContent { */
  /* color: #fff !important; */
/* } */ 